In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import csv

# Read the csv files
death_file = os.path.join("Resources","Deaths_By_P&E.csv")
insurance_file = os.path.join("Resources","Insured_By_State.csv")

# Create Dataframes
deathFile_df = pd.read_csv(death_file)
insuranceFile_df = pd.read_csv(insurance_file, skiprows=[0,1])

# Insurance file header
insuranceFile_df.head()

,Location,Employer,Non-Group,Medicaid,Medicare,Other Public,Uninsured,Total
0,United States,0.49,0.07,0.19,0.14,0.02,0.09,1.0
1,Alabama,0.47,0.05,0.21,0.16,0.03,0.09,1.0
2,Alaska,0.46,0.03,0.20,0.10,0.08,0.14,1.0
3,Arizona,0.44,0.05,0.21,0.15,0.03,0.12,1.0
4,Arkansas,0.44,0.09,0.21,0.17,0.02,0.08,1.0

In [2]:
# Death file header
deathFile_df.head()

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
0,National,NaN,NaN,All,2009-10,200940,149.0,3484.0,3633.0,46412.0,7.827717,97.546212
1,National,NaN,NaN,All,2009-10,200941,174.0,3703.0,3877.0,46453.0,8.346070,97.632384
2,National,NaN,NaN,All,2009-10,200942,239.0,3841.0,4080.0,47451.0,8.598344,99.729926
3,National,NaN,NaN,All,2009-10,200943,295.0,3762.0,4057.0,46432.0,8.737509,97.588247
4,National,NaN,NaN,All,2009-10,200944,298.0,3858.0,4156.0,47372.0,8.773115,99.563888

In [3]:
# Cleaning up the death data file

# Breaking up the "MMWR Year/Week" column and converting into just a "Year" Column
deathFile_df['Year'] = deathFile_df['MMWR Year/Week'].astype(str).str[0:4]

# Drops the season and MMWR Year/Week column
Drop_season_and_yearWeek_df= deathFile_df.drop(['season', 'MMWR Year/Week', 'pecent complete'], axis=1)
# Death file header
#Drop_season_and_yearWeek_df.head()

# Fixing spelling errors in column names
spell_check_df = Drop_season_and_yearWeek_df.rename(index=str, columns={"geoid": "Geo ID", "age": "Age", "Deaths from pneumonia and influenza": "Deaths from Pneumonia and Influenza", "Pecent of deaths due to pneumonia or influenza": "Percent of deaths due to Pneumonia or Influenza"})
# Spell check header
spell_check_df.head()

,Geo ID,Region,State,Age,Deaths from influenza,Deaths from pneumonia,Deaths from Pneumonia and Influenza,All Deaths,Percent of deaths due to Pneumonia or Influenza,Year
0,National,NaN,NaN,All,149.0,3484.0,3633.0,46412.0,7.827717,2009
1,National,NaN,NaN,All,174.0,3703.0,3877.0,46453.0,8.346070,2009
2,National,NaN,NaN,All,239.0,3841.0,4080.0,47451.0,8.598344,2009
3,National,NaN,NaN,All,295.0,3762.0,4057.0,46432.0,8.737509,2009
4,National,NaN,NaN,All,298.0,3858.0,4156.0,47372.0,8.773115,2009

In [4]:
# Creating a data frame for just the states
# Drop region column in the data frame
drop_region_df = spell_check_df.drop(['Region', 'Deaths from influenza', 'Deaths from pneumonia'], axis=1)
drop_region_df.head()

# Groups the df by State
states_df = drop_region_df.groupby(["State"])
states_df.head()

,Geo ID,State,Age,Deaths from Pneumonia and Influenza,All Deaths,Percent of deaths due to Pneumonia or Influenza,Year
0,National,NaN,All,3633.0,46412.0,7.827717,2009
1,National,NaN,All,3877.0,46453.0,8.346070,2009
2,National,NaN,All,4080.0,47451.0,8.598344,2009
3,National,NaN,All,4057.0,46432.0,8.737509,2009
4,National,NaN,All,4156.0,47372.0,8.773115,2009
6146,State,Alabama,All,68.0,952.0,7.142857,2009
6147,State,Alaska,All,3.0,75.0,4.000000,2009
6148,State,Arizona,All,64.0,826.0,7.748184,2009
6149,State,Arkansas,All,42.0,547.0,7.678245,2009
6150,State,California,All,400.0,4380.0,9.132420,2009
6151,State,Colorado,All,50.0,652.0,7.668712,2009
6152,State,Connecticut,All,42.0,584.0,7.191781,2009
6153,State,Delaware,All,12.0,132.0,9.090909,2009
6154,State,District of Columbia,All,7.0,93.0,7.526882,2009
6155,State,Florida,All,178.0,3119.0,5.706957,2009
6156,State,Georgia,All,92.0,1382.0,6.657019,2009
6157,State,Hawaii,All,18.0,183.0,9.836066,2009
6158,State,Idaho,All,17.0,195.0,8.717949,2009
6159,State,Illinois,All,145.0,1958.0,7.405516,2009
6160,State,Indiana,All,83.0,1013.0,8.193485,2009
6161,State,Iowa,All,46.0,502.0,9.163347,2009
6162,State,Kansas,All,35.0,438.0,7.990868,2009
6163,State,Kentucky,All,77.0,810.0,9.506173,2009
6164,State,Louisiana,All,67.0,749.0,8.945260,2009
6165,State,Maine,All,16.0,239.0,6.694561,2009
6166,State,Maryland,All,69.0,836.0,8.253589,2009
6167,State,Massachusetts,All,94.0,982.0,9.572301,2009
6168,State,Michigan,All,128.0,1651.0,7.752877,2009
6169,State,Minnesota,All,47.0,752.0,6.250000,2009
6170,State,Mississippi,All,41.0,567.0,7.231041,2009
...,...,...,...,...,...,...,...
6376,State,Michigan,All,155.0,1811.0,8.558807,2009
6377,State,Minnesota,All,66.0,747.0,8.835341,2009
6378,State,Mississippi,All,46.0,537.0,8.566108,2009
6379,State,Missouri,All,79.0,1058.0,7.466919,2009
6380,State,Montana,All,17.0,155.0,10.967742,2009
6381,State,Nebraska,All,29.0,288.0,10.069444,2009
6382,State,Nevada,All,20.0,374.0,5.347594,2009
6383,State,New Hampshire,All,25.0,237.0,10.548523,2009
6384,State,New Jersey,All,75.0,1249.0,6.004804,2009
6385,State,New Mexico,All,25.0,311.0,8.038585,2009
6386,State,New York,All,166.0,1802.0,9.211987,2009
6387,State,New York City,All,101.0,998.0,10.120240,2009
6388,State,North Carolina,All,118.0,1427.0,8.269096,2009
6389,State,North Dakota,All,14.0,115.0,12.173913,2009
6390,State,Ohio,All,192.0,2050.0,9.365854,2009
6391,State,Oklahoma,All,67.0,675.0,9.925926,2009
6392,State,Oregon,All,65.0,640.0,10.156250,2009
6393,State,Pennsylvania,All,171.0,2457.0,6.959707,2009
6394,State,Rhode Island,All,21.0,204.0,10.294118,2009
6395,State,South Carolina,All,67.0,807.0,8.302354,2009
6396,State,South Dakota,All,16.0,158.0,10.126582,2009
6397,State,Tennessee,All,107.0,1174.0,9.114140,2009
6398,State,Texas,All,277.0,3148.0,8.799238,2009
6399,State,Utah,All,21.0,267.0,7.865169,2009
6400,State,Vermont,All,5.0,107.0,4.672897,2009
6401,State,Virginia,All,95.0,1131.0,8.399646,2009
6402,State,Washington,All,86.0,925.0,9.297297,2009
6403,State,West Virginia,All,50.0,430.0,11.627907,2009
6404,State,Wisconsin,All,75.0,937.0,8.004269,2009
6405,State,Wyoming,All,12.0,85.0,14.117647,2009